<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nyalore Impacta, A social enterprise based in Homa Bay town, 
    Western Kenya, that specializes in the sale of improved cookstoves, 
    as well as the production and sale of briquettes.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon/logo-Nyalore-Impact-Limited-copy.webp" rel="icon">
  <link href="img/favicon/logo-Nyalore-Impact-Limited-copy.webp" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">Nyalore</a></h1>-->
      <a href="/" class="logo"><img src="img/Nyalorelogo-300x144.png" width="" height="300px" alt="Nyalore Impact Limited" class="img-fluid"></a>

      <nav id="navbar" class="navbar collapsed">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="https://nyaloreimp.org/#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="https://nyaloreimp.org/#portfolio">Products</a></li>
          <li><a class="nav-link scrollto active" href="/impact">Impact</a></li>
          <li><a class="nav-link scrollto" href="https://nyaloreimp.org/#services">Services</a></li>
          <li><a class="nav-link scrollto" href="https://nyaloreimp.org/#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="https://nyaloreimp.org/#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="https://nyaloreimp.org/#careers">Careers</a></li>
          <li><a class="getstarted scrollto" href="https://nyaloreimp.org/#faq">Awards & Recognition</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div class="container"></br></br></br></br></br></div> 
<!-- ======= Enjoy Our Range of Products ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="section-title" style="text-align: center;">
      <h2>Impact</h2>
   
      <h3>Addressing Clean Cooking Affordability & Awareness</h3>
      
      
    </div>

  </div>
</section><!-- End of Enjoy Our Range of Products -->

<!-- End Hero -->

  <main id="main">

    <!-- ======= About Section =======
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        

        <div class="row content">
          <div class="col-lg-6">
            <h2>WE ARE HIRING</h2>
          <p>Marketing, Advertising & PR</p>
            
          <h2>INDUSTRY</h2>
          <p>Energy & Utilities</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
           
            <h2>YEARS OF EXPERIENCE
              </h2>
          <p>2-3 years</p>

          <h2>LOCATION</h2>
          <p>
            Remote
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->




    <!-- ======= Start of Impact and Background Section ======= -->
    <section id="impact" class="impact">
      <div class="container" data-aos="fade-up">


        <div class="row mt-4">

          <div class="section-title">
            <h2>Nyalore Impact is participating in the MECS Challenge Fund project</h2>
            <p>Addressing Clean Cooking Affordability & Awareness</p>
          </div>

          <div class="col-lg-8 col-md-6 d-md-flex align-items-md-stretch">
            
            <div class="count-box">
                <h3>
                    With Upya Collect, a flexible and dynamic software, Nyalore Impact is participating in the MECS Challenge Fund project strategically aiming to enhance the adoption of electric cooking appliances in Kenya            </p>


                </h3>
              <p>
                “Upya Collect is very powerful. A once collected data is always available allowing us to maintain customer relationships. It is easy to keep updating and using it on a daily basis”.<br>
                
                <br>
                <b>Awuor Dorothy Otieno. <br>
                CEO at Nyalore Impact.</b>  <br>          
            </p>
            <h3>
                Joining Upya
            </h3>
            <p>
                Applying for the MECS project, Nyalore Impact was looking for a CRM solution, a strong digital partner, that could accompany Nyalore every step of the way. The company needed to be empowered with all must-have capabilities, from data collection for the market research stage to all managerial needs for the distribution stage.         
            </p>
            <h3>
                Nyalore Impact and the MECS Challenge Fund project
            </h3>
            <p>
                The company is trying to respond to some major challenges that, as a clean cooking operator, it has faced over the years in business.

                In the past, Nyalore didn’t have enough human and technical resources to conduct proper market research. “It is the best way to understand the customer needs, so you can design your proposition to suit clients’ needs,” says Dorothy Otieno, CEO at Nyalore Impact. Partnering with the local Equity Bank made it possible for the company to conduct on-the-ground interviews. Equity’s agents reach the most remote areas and are empowered by Upya’s mobile app for offline data collection.
                
                With Upya Collect, it became possible not only to gather data about potential clients but also to analyse it thanks to the analytics feature on the platform and Upya’s expertise in preparing extensive baseline analyses.
                
                The partnership with Equity Bank will also solve financial barriers. And since Upya’s solution allows to manage distribution of any assets under any terms, Nyalore’s cookstoves can be distributed under PAYGO terms.            
            </p>

            <h3>
                Phase 1. Market Research
            </h3>
            <p>
                
            As a part of the grant program Nyalore has conducted a research of the market in Kenya. This was the first time the start-up carried out in-depth research. Before, customer data and feedback used to be collected unsystematically using Excel. Not all clients were eager to respond to unstructured surveys. The adoption of Upya Collect has opened opportunities for Nyalore to:
            Identify target customers and understand their needs and preferences

<ol>
    <li>Prepare necessary proof documentation for the project</li>

    <li>Identify opportunities for new products and services in the clean cooking market</li>

    <li>Evaluate the effectiveness of marketing efforts</li>

    <li>Make informed business decisions based on data and insights</li>
</ol>

The survey for the market research was first created on Upya’s web platform, at Nyalore’s headquarters, using the 15+ types of questions available. It included three different stages with different questionnaires for each:


The first stage was focused on general information about potential customers with questions about age, location, level of education. This data could be swiftly collected thanks to the drop-down question type of Upya Collect. It saved a huge amount of time and Nyalore was able to collect more than 9000+ forms over a 3 months period. The accuracy of numeric data was assured by setting length-limiting parameters for certain answers. After completing the questionnaire, agents on the ground could move selected leads to the second part.

The second stage was all about the customer’s interest, knowledge, and previous experience with clean cookstoves. Nyalore used free text questions to obtain specific answers and drop-down types answers to save time whenever possible.

The interested leads would finish the survey with the third technical questionnaire. It was essential to make sure that cookstoves could be installed and used at the customer’s location, checking the grid connection and preventing possible challenges.

With Upya Collect, Nyalore’s participation in the MECS Challenge Fund project became very smooth. Trained by Upya, Nyalore’s champions got the flexibility to restructure questionnaires if needed and to train all other on-the-ground agents on how to use Upya’s mobile app. As it works perfectly offline, Nyalore wasn’t afraid to lose the data and effort.

<b><br><br>“The beauty of Upya Collect is that it enables it to work in the most remote areas with no internet connection. All agents need to do is to sync their apps when the connection is restored”.</b>

<h3>
    Impact Baseline Analysis
</h3>
<p>
Not having a data analysis specialist on the team, Nyalore went to Upya with a request to prepare an impact baseline analysis based on the collected data. Not only did Upya’s specialists perform an analysis but also prepared it following the specific requirements of the project.

<b><br><br>
    "The impact baseline analysis was wonderfully done by Upya. The final report was so good that investors had no questions about it. Our insights were supported with data presented clearly with bar charts and graphs. The credit for passing to phase two of the project goes not only to Nyalore, but also to Upya and its experts”.</b>

</p>

<h3>
    Phase 2. Distribution of cookstoves

</h3>
<p>
    By successfully getting approval for phase 1, the Kenyan start-up is now entering the second phase of the project which is going to last for 18 months and will involve the distribution of e-cooking products using the created pipeline.
    
    The requirement is to distribute 2,000 appliances, but Nyalore is setting ambitious goals and is planning to distribute twice as much. The company is going to benefit from continuous access to all collected data, adding other features to Upya Collect in order to manage all distribution processes including inventory, payments, and client management.
   
    <b><br><br>
        "I have a lot of trust in Upya to do the most difficult work: to manage transactions, social impact measurements and all managerial processes in one place”.    
    </p></b>
<p><br>
    Nyalore is also looking to register a carbon credit project as all distributed e-cooking appliances are going to be fitted with IoT devices or digitised. It will be easy to remotely monitor the usage of the appliance and the positive impact generated which will form part of the social impact report for the MECS project.

Via the MECS project and together with Upya, Nyalore is committed to addressing challenges related to electric pressure cookers by making them more available and by informing more Kenyans about their benefits. Empowered by Upya, from now on it will be much easier for Nyalore to tell its impact story.
</p>
<h3><a href="https://upya.io/book-a-demo/">Ready to get started?</a></h3>
</p>
</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
            
              <div class="container" data-aos="zoom-in">
        
                <div class="">
                  <h3>Latest posts:</h3>
                  <p> 
                    
                    <h3><a href="/impact">With Upya Collect, a flexible and dynamic software, Nyalore Impact is participating in the MECS Challenge Fund project strategically aiming to enhance the adoption of electric cooking appliances in Kenya</a></h3>

                </div>
        
              </div>
            
          </div>
    <!-- ======= End of Background Section ======= -->

        <p></p>

        </div>

        
    <!-- ======= End of Gallery Section ======= -->



    

    <!-- ======= Pricing Section ======= 
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Our Competing Prices</p>
        </div>

        <div class="row align-items-center">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Free</h3>
              <h4>$0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4>$29<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Developer</h3>
              <h4>$49<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Clients and testimonials ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Recognition</h2>
          <p>Awards and Partners</p>
        </div>
           
          <section class="customer-logos slider">
              <div class="slide"><img src="img/awards/certifications_and_awards.webp"></div>
              <div class="slide"><img src="img/awards/homabay_county.jpg"></div>
              <div class="slide"><img src="img/awards/Nema_new_logo_1_400x400_2.jpg"></div>
              <div class="slide"><img src="img/awards/elite_pongamia.jpg"></div>
              <div class="slide"><img src="img/awards/Equity.webp"></div>
              <div class="slide"><img src="img/awards/certifications_and_awards-22.jpg"></div>
              <div class="slide"><img src="img/awards/mecs_services_400.jpg"></div>
              <div class="slide"><img src="img/awards/Logo-Nyalore-Impact-Limited.webp"></div>   
           </section>
        </div>
        
      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Green Point, Nema office, Homa Bay County-Kenya,</br>
                    P.O. Box 826, Code: 40300, Homa Bay, South Nyanza-Kenya.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p><a href="mailto:info@nyaloreimp.org">info@nyaloreimp.org</a><br>www.nyaloreimp.org</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Reach Us</h3>
                  <p><b>Call Us:</b> <a href="tel:+254706012038">0706012038</a><br></p>
                  <p><b>Whatsap Us:</b> <a href="https://wa.me/+254706012038">0706012038</a><br></p>
                  <p><b>Facebook:</b> 0706012038<br></p>
                  <p><b>Twitter:</b> 0706012038<br></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">

              <img width="50%" src="Logo-Nyalore-Impact-Limited.webp"></img>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Renewable Energy Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Talk To Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/careers">Careers</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Receive latest news on renewable energy solutions and global climate crisis.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
            <p></p>
            <p>
              <strong>Phone:</strong> <a href="tel:+254706012038">+254706012038</a><br>
              <strong>Email:</strong> <a href="mailto:info@nyaloreimp.org">info@nyaloreimp.org</a><br>
            </p>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>

          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Nyalore Impact</span></strong>. All Rights Reserved 2023
      </div>
      <div class="credits">
        <!-- footer section -->
       
        Designed by <a href="https://mibtecsolutions.com/">Mibtec Solutions</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->

   <!-- Scroll products Main JS File -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <!-- Scroll products Main JS File -->

  <script src="js/main.js"></script>

</body>

</html>