<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nyalore Impacta, A social enterprise based in Homa Bay town, 
    Western Kenya, that specializes in the sale of improved cookstoves, 
    as well as the production and sale of briquettes.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon/logo-Nyalore-Impact-Limited-copy.webp" rel="icon">
  <link href="img/favicon/logo-Nyalore-Impact-Limited-copy.webp" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">Nyalore</a></h1>-->
      <a href="/" class="logo"><img src="img/Nyalorelogo-300x144.png" width="" height="300px" alt="Nyalore Impact Limited" class="img-fluid"></a>

      <nav id="navbar" class="navbar collapsed">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Products</a></li>
          <li><a class="nav-link scrollto" href="/impact">Impact</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/careers">Careers</a></li>
          <li><a class="getstarted scrollto" href="#faq">Awards & Recognition</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 0 -->
        <div class="carousel-item active" style="background-image: url(img/slide/Nyalore-impact-Upya.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown"><span>Addressing Clean Cooking Affordability & Awareness</span></h2>
              <p class="animate__animated animate__fadeInUp">With Upya Collect, a flexible and dynamic software, Nyalore Impact is participating in the MECS Challenge Fund project strategically aiming to enhance the adoption of electric cooking appliances in Kenya
              </p>
              <a href="/impact" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read more...</a>
            </div>
          </div>
        </div>

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(img/slide/NYALORE-impact-slide-2.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown"><span>Nyalore Impact Limited</span></h2>
              <p class="animate__animated animate__fadeInUp">A world where everyone has access to clean, affordable, and reliable energy regardless of their income or location.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">More About Us</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(img/slide/NYALORE-impact-slider-1.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Our Impact</h2>
              <p class="animate__animated animate__fadeInUp">Nyalore Impact has helped install renewable energy solutions in over 500 households and businesses in underserved communities. </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Explore Our Products</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(img/slide/NYALORE-IMPACT-slide-3.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Global Climate Crisis</h2>
              <p class="animate__animated animate__fadeInUp">Creating a social enterprise that could provide clean energy solutions to these communities, while also creating jobs and economic opportunities.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Impact's Success Stories</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Nyalore Impact is a woman led social enterprise founded in 2016 who recognized 
              the urgent need to address the global climate crisis.  
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Renewable energy solutions,</li>
              <li><i class="ri-check-double-line"></i> Reducing carbon emissions, </li>
              <li><i class="ri-check-double-line"></i> Creating jobs in local communities,</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              She saw that many communities, particularly those in low-income areas,lacked access to clean energy 
              solutions and were disproportionately affected by environmental degradation and pollution. 
              She wanted to create a social enterprise that could provide clean energy solutions 
              to these communities, while also creating jobs and economic opportunities.
            </p>
            <a href="#why-us" class="btn-learn-more">What drives us</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Products</h2>
      <p>Check our Products</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Modern energy-efficient cooking appliances</li>
          <li data-filter=".filter-card">Biomass</li>
          <li data-filter=".filter-web">Solar Solutions</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="img/products/Cook-stove-2_Impact.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Cook Stoves</h4>
          <p>Modern energy-efficient cooking appliances</p>
          <a href="img/products/Cook-stove-2_Impact.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Cook Stoves"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="img/products/Solar-appliances-Impact.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Home ligthing System</h4>
          <p>Solar Appliances</p>
          <a href="img/products/Solar-appliances-Impact.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Home System Solar Appliances"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="img/products/2in1-Jiko-Digi-pic2.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Jiko Digi</h4>
          <p>Modern energy-efficient cooking appliances</p>
          <a href="img/products/2in1-Jiko-Digi-pic2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Jiko Digi"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="img/products/BURNERS-50ltrs_2.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Burners 50ltrs</h4>
          <p>Modern energy-efficient cooking appliances</p>
          <a href="img/products/BURNERS-50ltrs_2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Burners 50ltrs"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="img/products/BAKING-OVEN.webp" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Baking Oven</h4>
          <p>Modern energy-efficient cooking appliances</p>
          <a href="img/products/BAKING-OVEN.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Baking Oven"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="img/products/BURNERS.jpeg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Burners</h4>
          <p>Modern energy-efficient cooking appliances</p>
          <a href="img/products/BURNERS.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Briquettes"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="img/products/HEAT-RETAINER-BASKETS_Nyalore.webp" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Heat Retainer Baskets</h4>
          <p>Modern energy-efficient cooking appliances</p>
          <a href="img/products/HEAT-RETAINER-BASKETS_Nyalore.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Heat Retainer Baskets"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="img/products/Briquetts-ballets_Nyalore.webp" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Briquettes</h4>
          <p>Biomass</p>
          <a href="img/products/Briquetts-ballets_Nyalore.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Briquettes"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="img/products/Solar-appliances-Impact.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>Home ligthing System</h4>
          <p>Solar Appliances</p>
          <a href="img/products/Solar-appliances-Impact.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Home System Solar Appliances"><i class="bx bx-plus"></i></a>
          <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->


    <!-- ======= Start of Impact and Background Section ======= -->
    <section id="impact" class="impact">
      <div class="container" data-aos="fade-up">


        <div class="row mt-4">

          <div class="section-title">
            <h2>Nyalore Impact Limited</h2>
            <p>Background</p>
          </div>

          <div class="col-lg-8 col-md-6 d-md-flex align-items-md-stretch">
            
            <div class="count-box">
              <p>
                Dorothy is the founder of Nyalore Impact, a social enterprise based in Homa Bay town, Western Kenya, that specializes in the sale of improved cookstoves, as well as the production and sale of briquettes. Dorothy was introduced to clean technologies and fuels in 2014, by her son who had noticed the struggles she experienced using charcoal for cooking. While she was immediately entranced by the idea of distributing briquettes, her first sales demonstration at a hotel went horribly wrong, when the fuel failed to burn cleanly as a result of using an inefficient stove. During the demonstration the entire hotel kitchen was blanketed in smoke. Fortunately, this experience bolstered her resolve to learn everything she could about the opportunities and gaps in improved cookstoves and briquettes. After registering her company in 2016, Dorothy begun distributing her products in Homa Bay and Migori counties.
              </br>
                As her business grew, Dorothy was eager to learn how to expand her market reach; in the face of stiff competition from manufacturer's with low operating costs and minimal awareness of clean cooking technologies in rural communities. Through support from w various partners in the clean cooking. Dorothy is receiving mentorship tailored towards business plan creation and improvement of management and leadership skills.
              </p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
            <img width="100%" src="img/team/Dorothy-Naylore-Impact.webp"></img>
          </div>
    <!-- ======= End of Background Section ======= -->

        <p></p>

        </div>

        <div class="section-title">
          <h2>Impact</h2>
          <p>Nyalore's Impact</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Nyalore Impact has helped </strong>install renewable energy solutions in over 500 households and businesses in underserved communities. </p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Our solutions</strong> have reduced carbon emissions by over 1,000 tons per year</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="100000" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Nyalore Impact</strong> has saved customers over $100,000 in energy costs</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>The company </strong> has also created over 50 jobs in local communities and provided training and education to hundreds of people.</p>
              <!-- <a href="#">Find out more &raquo;</a> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End impact and backgroundSection -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("img/slide/Nyalore impact product demo best.jpeg");' data-aos="zoom-in" data-aos-delay="100">
            <a href="https://youtu.be/dlZVwyyrT7U" target="_blank" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Who We Are <strong>-What drives us.</strong></h3>
              <p>
                Our Organization's purpose, Nyalore Impact's focus on our goals and aspirations.                    </p>
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Our Mission <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      To accelerate the transition to a sustainable, clean energy future by providing affordable and accessible clean energy products to underserved communities.
                      </p>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Our Vision <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      A world where everyone has access to clean, affordable, and reliable energy, regardless of their income or location.                   
                   </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Our Purpose <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Through production and distribution of innovative modern clean cooking and solar solutions.                    
                    </p>
                    <p>
                      To enhance healthy, and sustainable communities, for an equal world.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Clean Energy Solutions</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Solar Solutions</a></h4>
              <p>
                Nyalore Impact is a supplier of solar power and lighting solutions for homes.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Biomass</a></h4>
              <p>
                Producers of modern biomass briquettes and pellets. Our products are made from 100% waste.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Modern energy-efficient cooking appliances</a></h4>
              <p>We produce and sell cookstoves, baking ovens, burners, and retainer baskets.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nyalore eCare</a></h4>
              <p>We offer dedicated online support to our clients both on call and email.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Onsite Customer care,</a></h4>
              <p>
Customer service and effective training services offered with our agents in the communities.              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">After-sales & Warranty</a></h4>
              <p>
                Nyalore offers customerproduct training, warranty service, returns, and exchanges.             
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Success Stories</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/Dorothy-Naylore-Impact.webp" class="testimonial-img" alt="">
                  <h3>Lady Otieno</h3>
                  <h4>Homabay-Kenya</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    We quickly thought of alternatives and modern energy saving jiko sprung to mind. 
                    As we speak, it is now all over the place as you confirmed with the residents.                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/Dorothy-Naylore-Impact.webp" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Nyanza-Kenya</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Firewood became scarce and prices shot up. 
                    Wood-fuel is the main source of energy in this region. We thank you Nyalore Impact for your affordable briquets.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/Dorothy-Naylore-Impact.webp" class="testimonial-img" alt="">
                  <h3>Jena Jane</h3>
                  <h4>Jiko User</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Jena said although modern jiko may look expensive to buy, 
                    ones bought it saves you a lot in terms of firewood consumption and money spent. 
                    Depending on the model and size of the jiko, Thanks for your modern Jikos.                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/Dorothy-Naylore-Impact.webp" class="testimonial-img" alt="">
                  <h3>Anne Owino</h3>
                  <h4>Bidii Women Group</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    We must admit these modern cook-stoves burns more efficiently than traditional stoves. It reduces the amount of fuel consumed, regulates the speed of cooking and processes, and reduces harmful emissions.
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/Dorothy-Naylore-Impact.webp" class="testimonial-img" alt="">
                  <h3>Jane Kamau</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The use of modern clean cook-stoves has helped reduce usage of wood and charcoal within the area. 
                    It saves women time needed to collect fuel and/or money needed to purchase fuel.                  
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


     <!-- ======= Start of Gallery Section ======= -->
    <section class="portfolio" id="gallery">
      <div class="container-fluid">
        <div class="row">
    
          <div class="section-title">
            <h2>Browse our Success range of photos</h2>
            <p>Our Gallery</p>
          </div>
      
          <div align="center">
            <button class="filter-button" data-filter="all">All</button>
            <button class="filter-button" data-filter="category1">Training</button>
            <button class="filter-button" data-filter="category2">Partners</button>
            <button class="filter-button" data-filter="category3">Community Education & awareness</button>
          </div>
          
          <br/>

          <div class="gallery_product col-sm-3 col-xs-6 filter category1">
            <a class="fancybox" rel="ligthbox" href="img/portfolio/Mr-Thomas-kitalia-Nyalore-Impact-Representative-during-radio-talk-show-in-local-Togotane-Station_on_Kehancha.jpg">
                <img class="img-responsive" alt="" src="img/portfolio/Mr-Thomas-kitalia-Nyalore-Impact-Representative-during-radio-talk-show-in-local-Togotane-Station_on_Kehancha.jpg" />
                <div class='img-info'>
                  <h4>Togotane Radio Station Talk</h4>
                  <p>Mr Thomas kitalia Nyalore Impact Representative during a radio talk show in local Togotane Station on Kehancha</p>
                </div>
            </a>
        </div>

        <div class="gallery_product col-sm-3 col-xs-6 filter category2">
          <a class="fancybox" rel="ligthbox" href="img/portfolio/Nairobi_visit.jpg">
              <img class="img-responsive" alt="" src="img/portfolio/Nairobi_visit.jpg" />
              <div class='img-info'>
                <h4> Nairobi Visit</h4>
                <p>Nyalore Impact Representatives for a partnership visit to Nairobi</p>
              </div>
          </a>
      </div>
        
        <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                  <a class="fancybox" rel="ligthbox" href="img/portfolio/kakamega_e_cooking_club_2-6-1_12_18_36.jpg.jpg">
                      <img class="img-responsive" alt="" src="img/portfolio/kakamega_e_cooking_club_2-6-1_12_18_36.jpg.jpg" />
                      <div class='img-info'>
                        <h4>Training in Kakamega</h4>
                        <p>Training e-cooking champions in Kakamega</p>
                      </div>
                  </a>
              </div>

              <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="img/portfolio/Mr_Ambrose_Simiyu_and_Evalyn_Omanje_radio_gulf.jpeg">
                    <img class="img-responsive" alt="" src="img/portfolio/Mr_Ambrose_Simiyu_and_Evalyn_Omanje_radio_gulf.jpeg" />
                    <div class='img-info'>
                      <h4>Radio Gulf Talk</h4>
                      <p>Kisii team - Mr Ambrose Simiyu and Evalyn Omanje</p>
                    </div>
                </a>
            </div>

              <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="img/portfolio/Ewaste_management_2.jpeg">
                    <img class="img-responsive" alt="" src="img/portfolio/Ewaste_management_2.jpeg" />
                    <div class='img-info'>
                        <h4>Training on E-waste management</h4>
            <p>By the NEMA Director at Homabay branch</p>
                    </div>
                </a>
            </div>
    
                <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                    <a class="fancybox" rel="ligthbox" href="img/portfolio/Ewaste_management_3.jpeg">
                        <img class="img-responsive" alt="" src="img/portfolio/Ewaste_management_3.jpeg" />
                        <div class='img-info'>
                          <h4>Training on E-waste management</h4>
                          <p>By the NEMA Director at Homabay branch</p>
                        </div>
                    </a>
                </div>
    
                <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                     <a class="fancybox" rel="ligthbox" href="img/portfolio/Ewaste_management_4.jpeg">
                        <img class="img-responsive" alt="" src="img/portfolio/Ewaste_management_4.jpeg" />
                        <div class='img-info'>
                          <h4>Training on E-waste management</h4>
                          <p>By the NEMA Director at Homabay branch</p>
                        </div>
                    </a>
                </div>
    
                <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                    <a class="fancybox" rel="ligthbox" href="img/portfolio/Ewaste_management_5.jpeg">
                        <img class="img-responsive" alt="" src="img/portfolio/Ewaste_management_5.jpeg" />
                        <div class='img-info'>
                          <h4>Training on E-waste management</h4>
                          <p>By the NEMA Director at Homabay branch</p>
                        </div>
                    </a>
                </div>
    
                <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                  <a class="fancybox" rel="ligthbox" href="img/portfolio/Ewaste_management_6.jpeg">
                        <img class="img-responsive" alt="" src="img/portfolio/Ewaste_management_6.jpeg" />
                        <div class='img-info'>
                          <h4>Training on E-waste management</h4>
                          <p>By the NEMA Director at Homabay branch</p>
                        </div>
                    </a>
                </div>
    
                <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                  <a class="fancybox" rel="ligthbox" href="img/portfolio/Ewaste_management_7.jpeg">
                  <img class="img-responsive" alt="" src="img/portfolio/Ewaste_management_7.jpeg" />
                  <div class='img-info'>
                    <h4>Training on E-waste management</h4>
                    <p>By the NEMA Director at Homabay branch</p>
                  </div>
              </a>
              </div>
          
              <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="img/portfolio/NEMA_training2.jpeg">
                <img class="img-responsive" alt="" src="img/portfolio/NEMA_training2.jpeg" />
                <div class='img-info'>
                  <h4>Training</h4>
                  <p>NEMA workshop training</p>
                </div>
                </a>
              </div>
    
                <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                  <a class="fancybox" rel="ligthbox" href="img/portfolio/Radio-station2.webp">
                    <img class="img-responsive" alt="" src="img/portfolio/Radio-station2.webp" />
                        <div class='img-info'>
                            <h4>Community education and awareness</h4>
                <p> Creation through a local Radio station by Nyalore Impact in Kisii</p>
                        </div>
                    </a>
                </div>
                   
        </div>
      </div>
    </section>
    <!-- ======= End of Gallery Section ======= -->



    <!-- ======= Enjoy Our Range of Products ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Be Part and Enjoy Our Range of Products</h3>
          <p> 
            We work with local partners to install 
            and maintain our solutions, and also provide 
            training and education on how to use and maintain them. 
            In addition, the company offers financing options to make 
            these solutions affordable for households with modest incomes.
          </p>
          <a class="cta-btn" href="#contact">Talk To Us</a>
        </div>

      </div>
    </section><!-- End of Enjoy Our Range of Products -->

    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check Our Team</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="img/team/Dorothy-Naylore-Impact.webp" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Awuor Otieno Dorothy</h4>
                  <span>Founder/CEO</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6" data-wow-delay="0.1s">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="img/team/male-placeholder-image-600PX.webp" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kizito Odhiambo</h4>
                  <span>Entrepreneurship Advisor</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6" data-wow-delay="0.2s">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="img/team/Dorothy-Naylore-Impact.webp" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Liza Akinyi Owino</h4>
                  <span>M&E Advisor</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6" data-wow-delay="0.3s">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <img src="img/team/male-placeholder-image-600PX.webp" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Brian Ochieng Lumumba</h4>
                  <span>Account Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= 
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Our Competing Prices</p>
        </div>

        <div class="row align-items-center">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Free</h3>
              <h4>$0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4>$29<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Developer</h3>
              <h4>$49<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Clients and testimonials ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Recognition</h2>
          <p>Awards and Partners</p>
        </div>
           
          <section class="customer-logos slider">
              <div class="slide"><img src="img/awards/certifications_and_awards.webp"></div>
              <div class="slide"><img src="img/awards/homabay_county.jpg"></div>
              <div class="slide"><img src="img/awards/Nema_new_logo_1_400x400_2.jpg"></div>
              <div class="slide"><img src="img/awards/elite_pongamia.jpg"></div>
              <div class="slide"><img src="img/awards/Equity.webp"></div>
              <div class="slide"><img src="img/awards/certifications_and_awards-22.jpg"></div>
              <div class="slide"><img src="img/awards/mecs_services_400.jpg"></div>
              <div class="slide"><img src="img/awards/Logo-Nyalore-Impact-Limited.webp"></div>   
           </section>
        </div>
        
      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Green Point, Nema office, Homa Bay County-Kenya,</br>
                    P.O. Box 826, Code: 40300, Homa Bay, South Nyanza-Kenya.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p><a href="mailto:info@nyaloreimp.org">info@nyaloreimp.org</a><br>www.nyaloreimp.org</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Reach Us</h3>
                  <p><b>Call Us:</b> <a href="tel:+254706012038">0706012038</a><br></p>
                  <p><b>Whatsap Us:</b> <a href="https://wa.me/+254706012038">0706012038</a><br></p>
                  <p><b>Facebook:</b> 0706012038<br></p>
                  <p><b>Twitter:</b> 0706012038<br></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">

              <img width="50%" src="Logo-Nyalore-Impact-Limited.webp"></img>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Renewable Energy Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Talk To Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/careers">Careers</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Receive latest news on renewable energy solutions and global climate crisis.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
            <p></p>
            <p>
              <strong>Phone:</strong> <a href="tel:+254706012038">+254706012038</a><br>
              <strong>Email:</strong> <a href="mailto:info@nyaloreimp.org">info@nyaloreimp.org</a><br>
            </p>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>

          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Nyalore Impact</span></strong>. All Rights Reserved 2023
      </div>
      <div class="credits">
        <!-- footer section -->
       
        Designed by <a href="https://mibtecsolutions.com/">Mibtec Solutions</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->

   <!-- Scroll products Main JS File -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <!-- Scroll products Main JS File -->

  <script src="js/main.js"></script>

</body>

</html>